@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');


/* Reset browser impostazioni di default */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
 }
 
  /* CSS Header  */

 h1 {

    color: rgb(236, 52, 138);
    font-family: 'Kanit', sans-serif;
    font-size: xxx-large;
    padding-bottom: 40px;

 }

 header {

    text-align: center;
    padding: 60px;
    font-size: xx-large;
 }

    /* Fine CSS Header */

    /* CSS Body  */

  body {

    width: 60%;
    margin: auto;

 }

.clearfix::after {

    content: "";
    display: table;
    clear: both;

}


 .column {
/* 
    background-color: black; */

 }


 img {

    float: left;
    padding: 10px;

 }

 h2 {

    font-family: 'Kanit', sans-serif;

 }
