@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');


/* Reset browser impostazioni di default */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    font-family: 'Kanit', sans-serif;
 }
 
  /* CSS Header  */

 h1 {

    color: rgb(236, 52, 138);
    font-family: 'Kanit', sans-serif;
    font-size: xxx-large;
    padding-bottom: 40px;

 }


    p,h3{

        font-size: large;
    }

 header {

    text-align: center;
    padding: 60px;
    font-size: xx-large;
 }

    /* Fine CSS Header */

    /* CSS Body  */

  body {

    width: 75%;
    margin: auto;

 }

.clearfix::after {

    content: "";
    display: table;
    clear: both;

}


 .column {

    background-color: black;
    color: white;
    font-size: 1.2rem;
    line-height: 40px;
    float: left;
    box-shadow: 2px 1px 13px 5px grey;


    /* Poverata  */
    width: 31%;
    margin-right: 30px;
    
    
 }


 img {

    float: left;
    padding: 10px;
    width: 175px;

 }

 h2 {

    font-family: 'Kanit', sans-serif;
    padding-top: 20px;   
    
 }

 main {

    padding: 60px;
    background-color: white;

 }

 h4 {

    color: rgb(0, 140, 255);
 }

    section {

        margin-top: 10px;
        margin-bottom: 25px;

    }